* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    color: #fff;
}

.content {
    flex-grow: 1;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background: url('../img/header-bg.png') center top / cover no-repeat;
    height: 750px;
    padding-top: 28px;
}

.header__top {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.logo:hover {
    cursor: [pointer];
}

.logo__text {
    font-weight: bold;
    font-size: 36px;
}

.logo__text span {
    color: #f80759;
}

.logo > * {
    display: inline-block;
}

.logo img {
    width: 30px;
    height: 26px;
    margin-right: 7px;
}

.nav__list {
    display: flex;
}

.nav__item {
    display: block;
    margin-right: 30px;
}
.nav__item:last-child {
    margin-right: 0;
}

.nav__item a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}
.nav__item:hover a {
    cursor: pointer;
}
.header__nav .nav__item:hover a {
    color: #f80759;
}
.nav__item_active a {
    color: #f80759;
}

.header__offer {
    margin-top: 189px;
    width: 650px;
}

.header__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    line-height: 68px;
}

.header__title span {
    font-size: 48px;
    color: #12c2e9;
}

.header__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 26px;
}

.button {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #f80759;
    background: transparent;
    width: 200px;
    height: 50px;
    transition: all 0.3s ease;
}
.button:hover {
    cursor: pointer;
    background: #db0127;
    box-shadow: 0 5px 19px rgba(219, 1, 29, 0.5);
    border-color: #db0127;
}

.button_red {
    border: none;
    background: linear-gradient( 45deg, #d1003a 0%, #e60114 100%);
    transition: box-shadow 0.3s ease;
}

.header__buttons .button_red {
    margin-right: 17px;
}

.section {
    padding-top: 77px;
    padding-bottom: 81px;
    background: #111;
    font-size: 14px;
}

.section__head {
    margin-bottom: 50px;
}

.section__sub-title {
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #12c2e9;
}

.section__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-top: 11px;
    margin-bottom: 24px;
}

.section__head-separator {
    width: 60px;
    height: 2px;
    background: linear-gradient( 45deg, #d1003a 0%, #e60114 100%);
}

.section__head_center {
    width: 100%;
}
.section__head_center > * {
    text-align: center;
}
.section__head_center .section__head-separator {
    margin: 0 auto;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__left {
    width: 514px;
}

.section__heading {
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
}

.section__paragraph {
    line-height: 26px;
    margin: 31px 0;
}

.learn-more {
    text-transform: capitalize;
    color: #ed213a;
}
.learn-more {
    cursor: pointer;
}

.about__right {
    width: 564px;
}

.about__video {
    height: 400px;
    margin-bottom: 20px;
    background: url('../img/video.png') center top / cover no-repeat;
    position: relative;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 54px;
    height: 54px;
    margin-top: -27px;
    margin-left: -27px;
    cursor: pointer;
}

.about__video-row {
    display: flex;
    justify-content: space-between;
}

.about__video-mini {
    width: 170px;
    height: 100px;
    background: #ed213a;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.about__video-mini:hover {
    border: 2px solid #f80759;
    cursor: pointer;
}

.about__video-mini:nth-child(1) {
    background: url('../img/video1.png') center top / cover no-repeat;
}
.about__video-mini:nth-child(2) {
    background: url('../img/video2.png') center top / cover no-repeat;
}
.about__video-mini:nth-child(3) {
    background: url('../img/video3.png') center top / cover no-repeat;
}

.trainers__wrapper {
    display: flex;
    justify-content: space-between;
}

.trainer {
    width: 212px;
    height: 300px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
.trainer:hover {
    filter: none;
}

.trainer:nth-child(1) {
    background: url('../img/trainer1.png') center top / cover no-repeat;
}
.trainer:nth-child(2) {
    background: url('../img/trainer2.png') center top / cover no-repeat;
}
.trainer:nth-child(3) {
    background: url('../img/trainer3.png') center top / cover no-repeat;
}
.trainer:nth-child(4) {
    background: url('../img/trainer4.png') center top / cover no-repeat;
}
.trainer:nth-child(5) {
    background: url('../img/trainer5.png') center top / cover no-repeat;
}

.trainer__wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0) 50%);
    opacity: 0;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.3s ease;
}
.trainer:hover .trainer__wrapper {
    opacity: 1;
    border-color: #f80759;
}

.trainer__offer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.trainer:hover .trainer__offer {
    bottom: 19px;
}

.trainer__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: transparent;
    transition: all 0.3s ease;
}
.trainer:hover .trainer__name {
    color: #fff;
}

.trainer__info {
    font-size: 12px;
    line-height: 17px;
    color: transparent;
    transition: all 0.3s ease;
}
.trainer:hover .trainer__info {
    color: #12c2e9;
}

.service {
    background: #161616;
}

.service__wrapper {
    display: flex;
    justify-content: space-between;
}

.service__card {
    width: 372px;
    padding: 24px;
    text-align: center;
    line-height: 24px;
}

.program__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #f80759;
    border-radius: 50%;
    padding: 28px 0;
}

.program__title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 45px;
}

.program__info {
    font-size: 12px;
    margin: 25px 0;
}

.program__learn-more {
    width: 140px;
    height: 50px;
    font-size: 12px;
    font-weight: normal;
}

.reviews {
    background: url('../img/reviews-bg.png') center top / cover no-repeat;
}

.reviews__wrapper {
    display: flex;
    justify-content: space-between;
}

.reviews__card {
    display: flex;
    width: 555px;
    height: 300px;
    background: #222;
    line-height: 24px;
}

.review__left {
    height: 100%;
    min-width: 230px;
}

.review:nth-child(1) .review__left {
    background: url('../img/review1.png') left center / cover no-repeat;
}
.review:nth-child(2) .review__left {
    background: url('../img/review2.png') left center / cover no-repeat;
}

.review__right {
    padding: 34px 24px;
    position: relative;
}

.review__author {
    font-size: 18px;
    font-weight: bold;
    color: #12c2e9;
    margin-left: -5px;
}

.review__author-info {
    font-size: 10px;
}

.review__text {
    font-size: 12px;
    margin-top: 25px;
}

.review__stars {
    position: absolute;
    bottom: 34px;
    left: 24px;
}

.reviews__dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.reviews__dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    margin-right: 11px;
    transition: all 0.3s ease;
}
.reviews__dot:last-child {
    margin-right: 0;
}
.reviews__dot:hover {
    cursor: pointer;
    background: #12c2e9;
}

.reviews__dot_active {
    background: #12c2e9;
}
.reviews__dot_active:hover {
    cursor: default;
}

.gallery__container {
    overflow: hidden;
    position: relative;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */
.gallery__container img {
    pointer-events: none;
}

.gallery__track {
    display: flex;
}

.gallery__photo {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    margin-right: 30px;
}
.gallery__photo:last-child {
    margin-right: 0;
}

.gallery__prev {
    position: absolute;
    background: linear-gradient( 90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 150px;
    height: 100%;
    left: 0;
    top: 0;
    /* opacity: 0; */
    cursor: pointer;
    transition: all 0.3s ease;
}
/* .gallery__prev:hover {
    opacity: 1;
    cursor: pointer;
} */

.gallery__prev img {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 17px;
}

.gallery__next {
    position: absolute;
    background: linear-gradient( -90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 150px;
    height: 100%;
    right: 0;
    top: 0;
    /* opacity: 0; */
    cursor: pointer;
    transition: all 0.3s ease;
}
/* .gallery__next:hover {
    opacity: 1;
    cursor: pointer;
} */

.gallery__next img {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 17px;
    transform: rotate(180deg);
}

.gallery__prev.disabled, .gallery__next.disabled {
    display: none;
}

.price__wrapper {
    display: flex;
    justify-content: space-between;
}

.price__card {
    width: 360px;
    padding: 34px;
    border: 2px solid #222;
    text-align: center;
    position: relative;
}

.price__head {
    font-size: 24px;
}
.price__head span {
    font-size: 48px;
    font-weight: bold;
}

.price__label {
    font-size: 18px;
    line-height: 50px;
    background: #222;
    position: absolute;
    width: 360px;
    top: 115px;
    left: -2px;
}

.price__features {
    margin-top: 130px;
    margin-bottom: 35px;
}

.price__features li {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
}
.price__features li:last-child {
    margin-bottom: 0;
}

.price__button {
    width: 140px;
    height: 50px;
    border: 2px solid #222;
    font-size: 12px;
}

.price__card_special {
    border-color: #12c2e9;
}
.price__card_special .price__label {
    background: linear-gradient( 45deg, #d1003a 0%, #e60114 100%);
}
.price__card_special .price__button {
    border: none;
}

.blog {
    background: #161616;
}

.blog__wrapper {
    display: flex;
    justify-content: space-between;
}

.blog__post {
    border: 2px solid #222;
    border-radius: 2px;
    width: 266px;
    line-height: 24px;
}

.post__image {
    width: 100%;
    height: 200px;
}

.blog__post:nth-child(1) .post__image {
    background: url('../img/blog-image1.png') center top / cover no-repeat;
}
.blog__post:nth-child(2) .post__image {
    background: url('../img/blog-image2.png') center top / cover no-repeat;
}
.blog__post:nth-child(3) .post__image {
    background: url('../img/blog-image3.png') center top / cover no-repeat;
}
.blog__post:nth-child(4) .post__image {
    background: url('../img/blog-image4.png') center top / cover no-repeat;
}

.post__content {
    padding: 35px 17px 30px 20px;
}

.post__theme {
    font-size: 12px;
    color: #f80759;
}

.post__title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.post__text {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 14px;
}

.post__continue {
    font-size: 14px;
    color: #f80759;
    margin-bottom: 15px;
}
.post__continue:hover {
    cursor: pointer;
}

.post__bottom {
    display: flex;
    font-size: 14px;
    color: #12c2e9;
}

.post__author {
    margin-right: auto;
}

.post__likes-count {
    margin-right: 5px;
}

.post__heart:hover {
    cursor: pointer;
}

.contact {
    background: url('../img/contact-bg.png') center top / cover no-repeat;
    text-align: center;
}

.contact .section__title a {
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    color: #fff;
}

.contact__text {
    font-size: 18px;
    line-height: 30px;
    width: 625px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.footer {
    background: #111;
}

.footer__content {
    padding: 65px 0;
}

.tr {
    display: flex;
}
.th, .td {
    width: 100%;
    flex-shrink: 1;
}

.footer__table {
    margin-top: 5px;
}

.footer__table .th {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
}

.footer__main {
    width: 280px;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
    color: #bdc3c7;
}

.footer__text {
    font-size: 16px;
    line-height: 30px;
}

.social__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.social__row a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #bdc3c7;
    border: 1px solid #555;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.social__row a:last-child {
    margin-right: 0;
}
.social__row a:hover {
    border-color: #f80759;
}

.footer__contacts {
    width: 280px;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
}

.footer__contact {
    display: flex;
}

.footer__contact > * {
    display: block;
}

.footer__contact i {
    color: #12c2e9;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.footer__contact div, .footer__contact a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #bdc3c7;
}

.footer__search-tags {
    width: 350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer__search-tag {
    padding: 0 17px;
    line-height: 36px;
    font-size: 15px;
    border: 1px solid #555;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer__search-tag:hover {
    background: linear-gradient( 45deg, #d1003a 0%, #e60114 100%);
    border: none;
    cursor: pointer;
    line-height: 38px;
    padding: 0 18px;
}

.footer__nav {
    background: linear-gradient( 45deg, #d1003a 0%, #e60114 100%);
}

.footer__nav .nav {
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav .nav__item {
    font-size: 16px;
    font-weight: normal;
}

.footer__copyright {
    background: #111;
}

.copyright {
    font-size: 16px;
    text-align: center;
    line-height: 70px;
}